{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <input type="submit" value="Login">
            <a href="{% url 'signup' %}" class="link-style">Don't have an account? Sign up here</a>
        </form>
    </div>
</body>
</html>
