{% extends 'recipes/base.html' %}

{% block title %}Recipes List{% endblock %}

{% block content %}
    <h2>Recipe List</h2>
    <ul class="recipe-list">
        {% for recipe in recipes %}
            <li>
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                <div>
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description|truncatewords:20 }}</p>
                    <a href="{% url 'recipe_detail' recipe.id %}">View Recipe</a>
                </div>
            </li>
        {% empty %}
            <li>No recipes available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}" class="button">Back to Home</a>
{% endblock %}
